.about{
    i{
        font-size: 40px;
        color: #3ecf8e;
        background-color: rgb(227, 255, 242);
        border-radius: 100%;
    }
    .col-md-4{
        .inner{
            transition: .3s;
            &:hover{
                border:1px solid #3ecf8e !important;
                box-shadow: 0 0 10px #a5a5a5;
            }
        }
    }
}