@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

// Variables
@import './Variables/Variables';


// Components
@import './components/Navbar';
@import './components/Header';
@import './components/About';
@import './components/business/business.scss';
@import './components/services/Services.scss';
@import './components/works/Works';
@import './components/plans/Plans.scss';
@import './components/team/Teams.scss';
@import './components/blog/Blog.scss';
@import './components/GetInTouch/GetInTouch.scss';
@import './components/footer/Footer.scss';

*{
    overflow-x: hidden;
    margin: 0;
    padding: 0; 
    overflow-y: hidden 
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    font-family: poppins,sans-serif;
}
